MONGO_URL=mongodb+srv://username:password@cluster0.lp41f.mongodb.net/dbNAME?appName=Cluster0
FRONTEND_URL = http://localhost:3000
JWT_SECRET_KEY ="secretKEY"
JWT_ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 3600
ENV=development
x = 1
